body{
    background-color: aliceblue;
}
.hc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bc{
    font-size: x-large;
}
.hc{
    line-height: 9px;
}

.bali {
    font-family: sans;
}



